<style>
  h2{
    text-align: center;
  }
</style>

<h2>Application developed using Angular 17!</h2>
<section class="articles">
  @for(project of projects; track $index) {
  <article id="{{ $index }}">
    <div class="article-wrapper">
      <figure>
        <img src="https://picsum.photos/id/1011/800/450" alt="" />
      </figure>
      <div class="article-body">
        <h2>{{ project.title }}</h2>
        <p>
          {{ project.description }}
        </p>
        <div class="link">
          <a href="{{ project.githubURL }}" class="read-more git"> github </a>
          @if(project.liveURL.length>0) {
          <a href="{{ project.liveURL }}" class="read-more live"> Live site </a>
          }
        </div>
      </div>
    </div>
  </article>
  } @empty {
  <h1>Error loading products!</h1>
  }
</section>
<router-outlet></router-outlet>
